html {
    display:block;
    height: 100%;
    width: 100vw;
    font-family: 'Playfair Display', serif;
}

.darkMode {
    --cor-principal: #222;
    --cor-secundaria: #FFF;
}

.whiteMode {
    --cor-principal: #FFF;
    --cor-secundaria: #222;
}

body {
    height: 90%;
    color: var(--cor-secundaria);
    text-align: center;
}

.gradientLight {
    background-image: linear-gradient(to right, #000, #84bff7);
}

.darkButton {
    display: none;
    align-items: center;
    top: 10px;
    right: 10px;
    position:fixed;
    z-index: 999;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--cor-secundaria);
    cursor: pointer;
    box-shadow: inset 0 0 9px 1px var(--cor-principal);
    appearance: none;
    transition: 1s;
}

.buttonOn{
    justify-content: flex-start;
}

.buttonOff {
    justify-content: flex-end;
}

.darkButton:before{
    height:30px;
    width:30px;
    content:'';
    border-radius:15px;
    position:absolute;
    justify-content:center;
    background-color: var(--cor-principal);
    transform:scale(1.1);
    box-shadow: inset 0 0 9px 1px var(--cor-secundaria);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    margin: 4% 4%;
    background-color:none;
    border-radius: 25px;
    flex-grow:1;
    padding-bottom:40px;
}

.description{
    font-weight:bold;
}

.openMenu {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color:#FFF;
}

.banner{
    align-self:flex-start;
    padding:15px;
    height:70px;    
}

.headline {
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    font-size: 17px;
    padding-bottom:5px;
    color:#FFF;
}

.logoName{
    font-size:24px;    
}

.startButton {
    margin: 10px;
    padding: 25px;
    font-size: 34px;
    border: 1px solid #DDD;
    text-align: center;
    border-radius: 20px;
    width: 160px;
    height: 80px;
    cursor: pointer;
    background-color: #222;
}

.button:hover, .startButton:hover,.calcButton:hover {
    background-color: #84bff7;
    transition: 1s;
}

.menuButton{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    flex-basis: auto;
    margin-top:50px;
}

#typeText{
    font-size:24px;
    border-bottom:1px solid var(--cor-secundaria);
    padding:10px;
}

.button {
    margin: 10px;
    padding: 15px;
    font-size: 34px;
    border: 1px solid #DDD;
    text-align: center;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.calculatorMenu {
    display: none;
    width: 600px;
    height: 400px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 30px;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: auto;
    font-family: Arial;
    background-color: var(--cor-principal);
}

.fluxLine{
    flex-direction:row;
    padding:15px;
    height:20px;
}

.calcContent{
    margin:20px;
}

input [type=number]{
    margin-right:15px;
    max-width:40px;
    line-height:1.5;
}

input, select{
    margin-right:10px;
}

.flexOn{
    display:flex;
}

.flexOff{
    display:none;
}

.mobilePhase{
    flex-direction:column;
    width:80%;
    height:25vh;
    padding:10px;
    border:1px solid var(--cor-secundaria);
    justify-content:center;
    align-self: center;
}

.mobileBox{
    display:flex;
    flex-direction:row;
    padding:10px;
}

.mobileText{
    font-size:21px;
    text-align:start;
}

.mobilePhase input[type="number"]{
    margin-left:10px;
    margin-right:2px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    text-align:center;
}

.mobilePhase label{
    margin-left:15px;
    font-size:14px;
    font-weight:bold;
}

.mobile{
    width:25px;
    line-height:1.5;
}

.bottomBox{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    flex-grow:1;
}

.resultBox{
    display:flex;
    align-items:flex-start;
    flex-grow:1;
    flex-basis:auto;
    flex-direction:column;
    padding:15px;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
    max-width:300px;
    margin-left:5px;
}

.result{
    display:flex;
    flex-direction:row;
    margin:5px;    
}

.resultName{
    margin-right:20px;
}

.calcButton {
    padding: 25px;
    font-size: 20px;
    border: 1px solid #DDD;
    text-align: center;
    border-radius: 20px;
    width: 70px;
    height:20px;
    cursor: pointer;
    background-color:#CCC;
    color: var(--cor-principal);
}

@media (max-width: 700px) {
    .container {
        min-height: 100%;
        flex-grow:1;
    }

    .description{
        font-size:12px;
    }

    .calculatorMenu {
        width: 400px;
        min-height: 80%;
    }

    .fluxLine {
        flex-direction: column;
        flex-grow: 1;
    }

        .fluxLine:before {
            display: block;
        }

    .topContent {
        display:flex;
        border: 1px solid #CCC;
        padding: 3px;
        margin: 3px;
        justify-content:space-between;
    }

    .topContent input{
        align-self:end;
    }

    .mobilePhase {
        height: 80px;
        padding: 10px;
        border: 1px solid #CCC;        
    }

    .mobilePhase, .mobileBox {
        justify-content: center;
    }

    .calcButton {
        margin-right: 15px;
    }

    body{
    display:flex;
    min-height:100%;
    flex-grow:1;
    }

    .mobileBox {
        padding: 5px;
    }

    .mobileText {
        font-size: 12px;
    }

    .mobilePhase input[type="number"] {
        margin-left: 5px;
        margin-right: 2px;
    }

    .mobilePhase label {
        margin-left: 5px;
        font-size: 10px;
    }
    .darkButton {
        top: 7px;
        right: 7px;        
        width: 40px;
        height: 20px;
        border-radius: 10px;        
    }

    .darkButton:before{
        height:20px;
        width:20px;
        content:'';
        border-radius:10px;
    }
}

@media (max-width: 500px) {
    html{
        font-size:15px;
    }

    .description{
        font-size:10px;
    }

    .headline{
        font-size:16px;
    }
    .logoName{
        font-size:17px;
    }

    .calculatorMenu {
        width: 90%;
        max-height:100%;
    }

    .mobilePhase {
        height: 80px;
        padding: 20px;
        justify-content: flex-start;
        align-self:center;
    }

    .calcButton {
        display:flex;
        margin-right: 10px;
        width:40px;
        height:20px;
        font-size:10px;
        padding:5px;
        border-radius:7px;
        text-align:center;
        align-items:center;
    }

    .mobileBox {
        padding: 5px;
    }

    .mobilePhase input[type="number"] {
        margin-left: 5px;
        margin-right: 2px;
        width:25px;
    }

    .mobilePhase label {
        margin-left: 5px;
        font-size: 12px;
    }

    .calcContent{
        margin:5px;
    }

    .result{
        font-size:12px;
        padding:3px;
        border:1px solid #CCC;
        border-radius:4px;
        margin:2px;
    }

    .resultBox{
        padding:0;
    }

    .bottomBox{
        max-height:40%;
        align-items:end;
        margin-bottom:15px;
    }

    .fluxLine{
        max-height:25%;
    }

    .topContent label{
        font-size:10px;
    }
}